/*
Syntax error: Undefined mixin 'bodyBackground'.
        on line 8 of ./Google Drive/HTML_intro_class_9_28/slides/reveal/css/theme/template/theme.scss, in `bodyBackground'
        from line 8 of ./Google Drive/HTML_intro_class_9_28/slides/reveal/css/theme/template/theme.scss

3: /*********************************************
4:  * GLOBAL STYLES
5:  *********************************************\/
6: 
7: body {
8: 	@include bodyBackground();
9: 	background-color: $backgroundColor;
10: }
11: 
12: .reveal {
13: 	font-family: $mainFont;

Backtrace:
./Google Drive/HTML_intro_class_9_28/slides/reveal/css/theme/template/theme.scss:8:in `bodyBackground'
./Google Drive/HTML_intro_class_9_28/slides/reveal/css/theme/template/theme.scss:8
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:253:in `visit_mixin'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/engine.rb:315:in `_render'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/engine.rb:262:in `render'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `each'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:235:in `watch'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/plugin.rb:107:in `method_missing'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/exec.rb:463:in `watch_or_update'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/exec.rb:326:in `process_result'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/exec.rb:41:in `parse'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/exec.rb:21:in `parse!'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/bin/sass:9:in `<top (required)>'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/bin/sass:23:in `load'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/bin/sass:23:in `<main>'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/bin/ruby_executable_hooks:15:in `eval'
/Users/gopixelsgo/.rvm/gems/ruby-1.9.3-p448/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'bodyBackground'.\A         on line 8 of ./Google Drive/HTML_intro_class_9_28/slides/reveal/css/theme/template/theme.scss, in `bodyBackground'\A         from line 8 of ./Google Drive/HTML_intro_class_9_28/slides/reveal/css/theme/template/theme.scss\A \A 3: /*********************************************\A 4:  * GLOBAL STYLES\A 5:  *********************************************/\A 6: \A 7: body {\A 8: 	@include bodyBackground();\A 9: 	background-color: $backgroundColor;\A 10: }\A 11: \A 12: .reveal {\A 13: 	font-family: $mainFont;"; }
